@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-color: #e3e4e6;
}

/* Inter, system-ui, Avenir, Helvetica, Arial, sans-serif */
:root {
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px !important;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #172336;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  accent-color: #5a626f;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

/* #005eb8 - #003f7b*/
a {
  font-weight: 500;
  color: #005eb8;
  text-decoration: inherit;
}

a:hover {
  color: #003f7b;
  text-decoration: underline;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.isResizing {
  background: url("https://cms.wialon.us/frontend/static/line-2be8dace68122cde2b983e092f7d1d1e.gif")
    repeat-y 2px;
}

.resizer:hover {
  background: url("https://cms.wialon.us/frontend/static/line-2be8dace68122cde2b983e092f7d1d1e.gif")
    repeat-y 2px;
}

@media (hover: hover) {
  .resizer {
    opacity: 0;
  }

  *:hover > .resizer {
    opacity: 1;
  }
}

/* https://symbl.cc/en/search/?q=close */
.icon-remove,
.icon-arrow-top,
.icon-arrow-bottom {
  color: #172336;
}

.icon-arrow-top::after {
  content: "\02F0";
}

.icon-arrow-bottom::after {
  content: "\02F0";
}

.icon-remove::after {
  content: "\1F5D9";
}

.MuiGrid-root {
  padding-top: 8px !important;
}

.MuiGrid-item {
  padding-top: 4px !important;
  font-size: 14px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #172336;
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
}
